[Unit]
Description="HashiCorp Consul - %I"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/consul/%i/consul.hcl

[Service]
EnvironmentFile=-/etc/consul/%i/consul.env
User=consul
Group=consul
ExecStartPre=/usr/local/bin/consul validate /etc/consul/%i/
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul/%i/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
