[Unit]
Description="HashiCorp Nomad - %I"
Documentation=https://www.nomadproject.io/docs/
ConditionFileNotEmpty=/etc/nomad/%i/nomad.hcl
Wants=network-online.target
After=network-online.target

Wants=consul.service
After=consul.service

Wants=docker.service
After=docker.service

[Service]
User=root
Group=root

ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/nomad agent -config /etc/nomad/%i
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
